package todo

import layout "echo-crate/internal/views/layouts"

templ Index() {
	@layout.Base("Todo") {
		@layout.Content() {
			<h1>Templ todo app</h1>
			<form hx-post="/create-todo" hx-target="#todo-list" hx-swap="beforeend">
				<input type="text" name="title" placeholder="Add a todo" required/>
				<input type="submit" value="Add"/>
			</form>
			<div id="todo-list"></div>
		}
	}
}
